.options {
  outline: dotted gray;
  width: 35vw;
  height: 10vh;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.options:hover {
  opacity: 1;
  outline: solid black;
  font-size: xx-large;
}
